<!-- component -->
<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col py-8 pl-6 pr-2 w-96 flex-shrink-0 bg-white gap-2">
      <div class="flex flex-row items-center justify-center h-12 w-full">
        <div class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path>
          </svg>
        </div>
        <div class="ml-2 font-bold text-2xl">QuickChat</div>
      </div>
      <div class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
        <div class="h-20 w-20 rounded-full border overflow-hidden">
          <img src="{{user.img}}" alt="Avatar" class="h-full w-full" />
        </div>
        <div class="text-sm font-semibold mt-2">{{user.username}}</div>
        <div class="text-xs text-gray-500 first-letter:uppercase">{{user.role}}</div>
        <div class="flex flex-row items-center mt-3">
          <div class="flex flex-col justify-center h-4 w-8 bg-indigo-500 rounded-full">
            <div class="h-3 w-3 bg-white rounded-full self-end mr-1"></div>
          </div>
          <div class="leading-none ml-1 text-xs">Active</div>
        </div>
      </div>
      <div class="h-4/6">
        <ul role="list" class="divide-y divide-gray-100 gap-1 cursor-pointer flex flex-col">
          {{#each user.friends}}
            <li class="flex justify-between gap-x-6 py-5 bg-white hover:bg-gray-50 rounded-lg">
              <div class="flex gap-x-4">
                <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{{this.friend.img}}" alt="" />

                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">
                    {{this.friend.username}}</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{this.friend.email}}</p>
                </div>
              </div>
              <div class="hidden sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900 first-letter:uppercase">{{this.friend.role}}</p>
                <p class="mt-1 text-xs leading-5 text-gray-500">Last seen
                  <time datetime="2023-01-23T13:23Z">3h ago</time></p>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="grid grid-cols-2">
        {{! Enviar Solicitudes }}
        <div>
          <button
            type="button"
            data-modal-target="crypto-modal"
            data-modal-toggle="crypto-modal"
            class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
          >
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
              ></path></svg>
            Buscar amigos
          </button>
          <div id="crypto-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-md min-h-full bg-white">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="crypto-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>

                <!-- Modal header -->
                <div class="bg-indigo-100 border border-gray-200 flex w-full">
                  <div class="px-6 py-4 w-full">
                    <div class="relative w-5/6">
                      <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                          <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                          <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                        </svg>
                      </div>
                      <input
                        type="text"
                        autocomplete="off"
                        id="input-group-1"
                        class="text-center auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Ingrese email para agregar"
                      />
                    </div>
                  </div>
                </div>

                <!-- Modal body -->

              </div>
              <div>
                {{! Container_Searching_People }}
                <form id="form_addfriend">
                  <ul id="container_addfriend"></ul>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{!Bandeja de solicitudes }}
        <div>
          <button
            type="button"
            data-modal-target="request-modal"
            data-modal-toggle="request-modal"
            class="text-gray-900 hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
          >
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
              ></path></svg>
            Solicitudes
          </button>
          <div id="request-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-md min-h-full bg-white">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="request-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>

                <!-- Modal header -->
                <div class="bg-indigo-100 border border-gray-200 w-full h-20">
                  <div class="w-full">
                    <div class="w-full h-full">
                      <div class="w-full h-full flex items-center content-center pointer-events-none text-lg font-semibold">
                        <p class="text-center w-full p-0">Solicitudes pendientes</p>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Modal body -->
                <div>

                </div>
              </div>
              <div>
                <form id="form_requestfriend">
                  <ul id="container_requestfriend">
                    {{#each user.request}}
                      <hr />
                      <li class="flex justify-between gap-x-6 py-5 bg-white hover:bg-gray-50 rounded-lg">
                        <div class="flex gap-x-4 pl-2">
                          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{{this.user.img}}" />
                          <div class="min-w-0 flex-auto">
                            <p class="text-sm font-semibold leading-6 text-gray-900">{{this.user.username}}</p>
                            <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{this.user.email}}</p>
                          </div>
                        </div>
                        <button
                          type="submit"
                          class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                          name="{{this.user._id}}"
                          id="accept"
                        >Aceptar</button>
                        <button
                          name="{{this.user._id}}"
                          type="submit"
                          id="decline"
                          class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        >Rechazar</button>
                      </li>
                    {{/each}}
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="bg-gray-50 dark:bg-gray-900 h-full w-full flex p-2">
    </div>
    {{! <div class="flex flex-col flex-auto h-full p-6 panel">
      <div
        class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
      >
        <div class="flex flex-col h-full overflow-x-auto mb-4">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2">
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div>Hey How are you today?</div>
                  </div>
                </div>
              </div>
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Vel ipsa commodi illum saepe numquam maxime asperiores
                      voluptate sit, minima perspiciatis.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div>I'm ok what about you?</div>
                  </div>
                </div>
              </div>
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div>
                      Lorem ipsum dolor sit, amet consectetur adipisicing. ?
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div>Lorem ipsum dolor sit amet !</div>
                  </div>
                </div>
              </div>
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                  >
                    <div>
                      Lorem ipsum dolor sit, amet consectetur adipisicing. ?
                    </div>
                    <div
                      class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500"
                    >
                      Seen
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Perspiciatis, in.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                  >
                    A
                  </div>
                  <div
                    class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  >
                    <div class="flex flex-row items-center">
                      <button
                        class="flex items-center justify-center bg-indigo-600 hover:bg-indigo-800 rounded-full h-8 w-10"
                      >
                        <svg
                          class="w-6 h-6 text-white"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
                          ></path>
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                          ></path>
                        </svg>
                      </button>
                      <div class="flex flex-row items-center space-x-px ml-4">
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-12 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-6 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-5 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-3 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                        <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
        >
          <div>
            <button
              class="flex items-center justify-center text-gray-400 hover:text-gray-600"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
                ></path>
              </svg>
            </button>
          </div>
          <div class="flex-grow ml-4">
            <div class="relative w-full">
              <input
                type="text"
                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
              />
              <button
                class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="ml-4">
            <button
              class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
            >
              <span>Send</span>
              <span class="ml-2">
                <svg
                  class="w-4 h-4 transform rotate-45 -mt-px"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div> }}
  </div>
</div>
<script src="/js/chat.js" type="module" defer></script>